@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP:wght@400;500;700;900&family=Noto+Serif+JP&display=swap');
@import './colors.scss';

:root {
	color: $navy;
	font-size: 12px;
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	background: linear-gradient(
		mix(mix(mix($pink, $white), $white), $white), mix(mix($pink, $white), $white)
		);

	> div {
		margin: 0 auto;
		background-color: $white;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		max-width: 324px;
		padding: 0 12px;
	}
}

input[type='text'],
textarea {
	display: block;
	border: 0.5px solid rgba($navy, 0.5);
	-webkit-appearance: none;
	border-radius: 4px;
	color: $navy;
	font-family: 'Noto Sans JP', sans-serif;
}
